.reviews__section{
    padding-left: 20px;
    padding-right: 20px;
}


.reviews__swiper-wrapper{
    display: flex;
}


.reviews__swiper-slide{
    width: 280px;
    height: 466px;
}


.reviews__img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: 40px;
}


.reviews__txt{
    color:var(--secondary-text-color);
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    background-color: var(--background-main-color);
    border-radius: 10px;
    padding: 34px 39px;
    margin-bottom: 30px;

}


.reviews__name{
    font-size: 20px;
    line-height: 186%;
    text-align: center;


}


.reviews__swiper-pagination{}


